.character {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20vmin;
}


.sala, .container{
    height: 100%;
    width: 100%;
}

#tito{
    left: 100px;
    bottom: 100px;
}

#itzel{
    right: 100px;
    bottom: 100px;
}

.dialog_box{
    width: 200px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 70%;
  }

.next_button{
    background-color: green;
    margin: 0 auto; /* Center the button horizontally */
    display: block; /* Ensure the button takes up the full width */
    width: fit-content; /* Set the width to fit the content */
    padding: 10px 20px; /* Add padding for better visibility */
    cursor: pointer;
}



  
  
  