.pagina_sala_juegos_container{
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url("../src/assets/bg/sala_juegos.png");
    background-color: white;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.object{
    height: 100px;
    width: 100px;
}

#pelota{
    position: absolute;
    bottom: 30vh;
    left: 33vw;
    background-image: url("./assets/bg/objetos/pelota.png");
    background-size: cover;
}

#oso{
    position: absolute;
    right: 31vw;
    background-image: url("./assets/bg/objetos/oso.png");
    background-size: cover;
}

#pelota:hover, #oso:hover{
    transform: scale(1.25);
}

