.pagina_sala_psic_container{
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url("../src/assets/bg/sala_psicologia.png");
    background-color: white;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  